{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": "off",
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "function-paren-newline": "off",
    "no-mixed-operators": "off",
    "arrow-parens": "off"
  },
  "globals": {
    "jest": false,
    "describe": false,
    "it": false,
    "expect": false,
    "localStorage": false,
    "fetch": false,
    "document": false,
    "window": false,
    "navigator": false,
    "URL": false
  }
}
