.Adjuster {
  text-align: center;
}

.Adjuster {
  grid-column: 1/3;
  grid-row: 7;
}

.Adjuster button {
  background-color: #448;
  border: none;
  color: white;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  width: 2.8em;
  height: 1.8em;
}

@media (min-width: 720px) {
  .Adjuster {
    grid-column: 1/8;
    grid-row: 4;
  }
}
