.App {
  position: relative;
  display: grid;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.App {
  width: 240px;
  grid-template-columns: 120px 120px;
  grid-template-rows: 2em 240px 80px 40px 2em 5em 270px 270px max-content;
}
.App h1 {
  font-size: 1.1em;
  grid-column: 1/3;
  grid-row: 1;
}

@media (min-width: 720px) {
  .App {
    width: 480px;
    grid-template-columns: 120px 120px 98px 50px 38px 26px 28px;
    grid-template-rows: 3em 240px 5em 270px max-content;
  }
  .App h1 {
    font-size: 1.5em;
    padding-top: 1em;
    grid-column: 1/8;
    grid-row: 1;
  }
}
