.App {
  display: grid;
  margin: auto;
  justify-items: center;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .App {
    width: 200px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
  }
}

@media screen and (orientation: landscape) {
  .App {
    width: 400px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
}
