.Caption {
  text-align: center;
}

.Caption input {
  font-size: 1.1em;
  width: 200px;
}

.Caption {
  grid-column: 1/3;
  grid-row: 5;
}

@media (min-width: 720px) {
  .Caption {
    grid-column: 1/3;
    grid-row: 3;
  }
}
