.Caption {
  text-align: center;
}

@media screen and (orientation: portrait) {
  .Caption {
    font-size: 3vh;
  }
}

@media screen and (orientation: landscape) {
  .Caption {
    font-size: 2vh;
  }
}
