.ColorSelector {
  text-align: center;
}

.ColorSelector p {
  padding: 2px;
}

#textColor {
  grid-column: 1/3;
  grid-row: 7;
}
#fillColor {
  grid-column: 1/3;
  grid-row: 8;
}

@media (min-width: 720px) {
  #textColor {
    grid-column: 1/3;
    grid-row: 4;
  }
  #fillColor {
    grid-column: 3/8;
    grid-row: 4;
  }
}
