.Download {
  text-align: center;
  border: 3px solid #888;
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  background: #fcf;
}
.Download a {
  text-decoration: none;
  font-weight: bold;
}

.Download {
  grid-column: 1/3;
  grid-row: 6;
}

@media (min-width: 720px) {
  .Download {
    grid-column: 3/8;
    grid-row: 3;
  }
}
